{% extends "base.html" %}
{% block title %}Login - MyShop{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Login</h1>

<form method="POST" class="mx-auto" style="max-width: 400px;">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-primary w-100" type="submit">Login</button>
</form>

<p class="mt-3 text-center">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}
